---
import { getCollection } from "astro:content";

import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";

const allPost = await getCollection("tech");
const firstThreePosts = allPost.slice(0, 3);
---

<Layout title="pagina principal">
  <section class="">
    <Header title="Hola Bellakin" />

    <section class="grid grid-cols-2 gap-4">
      {
        firstThreePosts.map((post) => (
          <Card
            href={`/blog/${post.slug}`}
            title={post.data.title}
            time={post.data.pubDate}
            tags={post.data.tags}
          />
        ))
      }
    </section>
  </section>
</Layout>
